<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kosta.apt.mapper.PropertyMapper"> <!-- namespace를 꼭 맞게 써주어야함 -->
   <cache />

   <insert id="APTSaleInsert" parameterType="kosta.apt.domain.Property.Property">

     insert into Property(
         pr_roomNum
      )
      values(
 		#{pr_roomNum}  )
    
   </insert>
   
   <select id="APTlist" resultType="kosta.apt.domain.Property.Property">
   
    select * from Property
   </select>
   
   
   
   <insert id="insertMember" parameterType="member">

      insert into member(
      m_memberNo,m_pass,m_buildingNo,m_roomNo,m_name,m_age,m_homeTel,m_tel,m_email,apt_APTGNo,v_flag)
      
      values(
      #{m_memberNo},#{m_pass},#{m_buildingNo},#{m_roomNo},#{m_name},#{m_age},#{m_homeTel},#{m_tel},#{m_email},#{apt_APTGNo},#{v_flag}
      )
      
   </insert> 
   
   
   <insert id="insertAPTsale" parameterType="Property">
      
     insert into Property(
        pr_group,pr_APTName,pr_addr,pr_price,pr_deposit,pr_level,pr_totalLevel,pr_doorStruct,
        pr_roomNum,pr_bathNum,pr_roomArea,pr_scale,pr_company,pr_content,
        pr_propertyNo,pr_imageName,pr_tel,pr_date,m_memberNo
      )
      values(
     #{pr_group},#{pr_APTName},#{pr_addr},#{pr_price},#{pr_deposit},#{pr_level},#{pr_totalLevel},
     #{pr_doorStruct},#{pr_roomNum},#{pr_bathNum},#{pr_roomArea},#{pr_scale},#{pr_company},
     #{pr_content},#{pr_propertyNo},#{pr_imageName},#{pr_tel},SYSDATE,#{m_memberNo}
           )
    
   </insert>
   
   
   
   
    <select id="selectPr_id" resultType="Integer">
   	select  max(pr_propertyNo) from property
   </select>
   
   
   
   <!-- 부동사내 매물목록 리턴 -->
   
   	<select id="aptlist" resultType="kosta.apt.domain.Property.Property" parameterType="kosta.apt.domain.Property.Property">
	 <![CDATA[
	 select 
	 *
	 from 
	   Property
	 where pr_propertyNo > 0 
	 order by pr_propertyNo desc, pr_date desc
	 ]]>
	</select>
	
	
	
	  <select id="listCountCri" resultType="int" parameterType="kosta.apt.domain.Paging.Criteria">
   <![CDATA[

   	 select 
	   count(pr_propertyNo) 
	 from 
	   Property 
	 where 
	   pr_propertyNo > 0 
  
   ]]>
   
   </select>
   
   
   
   <select id="aptSaledetail" resultType="kosta.apt.domain.Property.Property" parameterType="int">
   select * from Property where pr_propertyNo = #{pr_propertyNo}
   
   </select>
   
   
   
   <!-- 부동산 매물 수정 -->
   
   <update id="aptUpdate" parameterType="kosta.apt.domain.Property.Property">
   
   update Property set pr_APTName =#{pr_APTName}, pr_addr = #{pr_addr}, pr_deposit = #{pr_deposit}, 
   						pr_level = #{pr_level}, pr_totalLevel = #{pr_totalLevel}, pr_doorStruct = #{pr_doorStruct},
   						pr_roomNum = #{pr_roomNum}, pr_bathNum = #{pr_bathNum}, pr_roomArea =#{pr_roomArea},
   						pr_scale = #{pr_scale}, pr_company = #{pr_company}, pr_content = #{pr_content}, pr_imageName = #{pr_imageName},
   						where pr_propertyNo =#{pr_propertyNo}
 	 </update>
   
   
   <!-- 부동산 매물 삭제  -->
   
   <delete id="aptDelete" parameterType="int">
   
   delete from Property where pr_propertyNo = #{pr_propertyNo}
   
   </delete>
   
   
   
   
   	<select id="surveyResultTitle" resultType="kosta.apt.domain.Survey.SurveyDB">
	 <![CDATA[
	 select 
	  *
	 from 
	   SurveyDB
	 where su_group > 0 
	 order by su_startdate desc
	 ]]>
	</select>
	
   
   
<!--  	<select id="aptno" resultType="Integer">
 	select APT_APTGNO
 	from member
 	where M_MEMBERNO = #{memberId}
 	</select>
 	   	<select id="nextCOMPLAINTNO" resultType="Integer" >
   		select max(CP_COMPLAINTNO)
			from COMPLAINT
   		
   	</select>
 	
 	
 	<insert id="insertComplaint" parameterType="Complaint">
 	insert into Complaint 
 	
 	values(#{cp_complaintNo},#{cp_title},#{cp_content},1,1,#{cp_date},#{m_memberNo},#{apt_APTGNo})
 	
 	</insert>
 	
 	<select id="listComplaint" resultType="Complaint" parameterType="String">
 	select *
 	from complaint
 	where M_MEMBERNO =#{id}
 	order by cp_complaintNo desc
 	
 	
 	
 	</select>
   <select id="countComplaint" resultType="Integer" parameterType="String">
   select count(*)
   from complaint
   where m_memberno =#{id}
   order by cp_complaintNo desc
   
   
   </select>
   <select id="selectComplaint" resultType="Complaint" parameterType="String">
    	select *
 	from complaint
 	where cp_complaintNo =#{cp_complaintNo} 
    order by cp_complaintNo desc
   
   </select>
   <select id="countComplaintManage" resultType="Integer">
      select count(*)
  	 from complaint
   </select>
   <select id="listComplaintManage" resultType="Complaint">
         select *
   from complaint
   order by cp_complaintNo desc
   
   
   </select>
   
   <select id="listmypageComplaint" resultType="Complaint" parameterType="String">
    
    select *
    from( select *
 	 from complaint
 	 where m_memberNo =#{id} 
	 order by cp_complaintNo desc)
	 where<![CDATA[ ROWNUM <=3 ]]>
   </select>
   
   <update id="updateComplaint" parameterType="Complaint">
   update complaint
   set  cp_state = #{cp_state}
   where cp_complaintNo = #{cp_complaintNo}
   </update>
   
   <select id="listManageComplaint" resultType="Complaint">
   	select *
 	from complaint
 	order by cp_complaintNo desc
 	
   
   </select>
 	 -->
   
</mapper>








