<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosta.apt.mapper.PublicManagementFeeMapper"> <!-- namespace를 꼭 맞게 써주어야함 -->
	<cache />

	<insert id="publicManagementFeeInsert" parameterType="PublicManagementFee">
		insert into publicmanagementfee(
			pm_publicFeeNo, pm_clean, pm_general, pm_maintain, pm_liftMaintain,
			pm_security, pm_foodWaste, pm_fireInsurance, pm_commission, pm_meeting,
			pm_publicElectric, pm_liftElectric, pm_tvfee, pm_disinfection, apt_APTGNo
		)values(
			#{pm_publicFeeNo }, #{pm_clean }, #{pm_general },
			#{pm_maintain }, #{pm_liftMaintain },
			#{pm_security },
			#{pm_foodWaste }, #{pm_fireInsurance }, #{pm_commission},
			#{pm_meeting}, #{pm_publicElectric},
			#{pm_liftElectric},
			#{pm_TVFee}, #{pm_disinfection}, 1
		)
	</insert>

</mapper>








